@page "/menu"
@inject NavigationManager _nvgMan;

<div class="w-100 position-absolute overflow-hidden" style="top: 0px; left: 0px; z-index: 1000;">
    <div class="back-bar d-flex justify-content-center align-items-center">
        <span class="flex-grow-1 pl-25 font-md-5 text-bold-700 text-center" style="padding-bottom: 4px;">เมนู</span>
    </div>
</div>

<div class="d-block">
    <div class="menu-footer footer-fixed mx-md-2" style="height: 86px;"></div>
    <div class="menu-footer footer-fixed bg-transparent px-50" style="box-shadow: none;">
        <div class="d-flex flex-row justify-content-around align-items-center">
            <div class="mt-1">
                <div class="d-flex flex-column justify-content-end align-items-center cursor-pointer" style="width: 73px;" @onclick="GotoHome">
                    <img src="image/home.png" title="หน้าแรก" style="width: 46px; height: 30px; object-fit: contain;" />
                    <span class="font-sm-2 text-nowrap" data-i18n="1">หน้าแรก</span>
                </div>
            </div>
            <div class="mt-1">
                <div class="d-flex flex-column justify-content-end align-items-center cursor-pointer" style="width: 73px;" @onclick="GotoList">
                    <img src="image/list.png" title="รายการ" style="width: 23px; height: 30px; object-fit: contain;" />
                    <span class="font-sm-2" data-i18n="2">รายการ</span>
                </div>
            </div>
            <div class="mt-1">
                <div class="d-flex flex-column justify-content-end align-items-center cursor-pointer" style="width: 73px;" @onclick="GotoProfile">
                    <img src="image/profile.png" title="บัญชี" style="width: 45px; height: 30px; object-fit: contain;" />
                    <span class="font-sm-2 text-nowrap" data-i18n="3">บัญชี</span>
                </div>
            </div>
            <div class="mt-1">
                <div class="d-flex flex-column justify-content-end align-items-center cursor-pointer" style="width: 73px;">
                    <img src="image/menu-active.png" title="เมนู" style="width: 25px; height: 30px; object-fit: contain;" />
                    <span class="font-sm-2" data-i18n="4">เมนู</span>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public void GotoList()
    {
        _nvgMan.NavigateTo("list");
    }

    public void GotoHome()
    {
        _nvgMan.NavigateTo("/");

    }

    public void GotoProfile()
    {
        _nvgMan.NavigateTo("profile");

    }
}
