@page "/qrcode"
@inject NavigationManager _nvgMan;

<img src="image/scan-live.png" class="d-block" style=" margin-left: -29px; margin-top: -22px; margin-right: -29px; width: 118.5%;" @onclick="GotoQRCodePass" />
<p class="my-5 text-center" @onclick="GotoQRCodeFail">ผู้ใช้สามารถสแกน QR Code ของป้ายภาษีเพื่อดูข้อมูล</p>
<button type="button" class="col-12 col-md-2 btn-secondary mb-md-1" style="height: 3rem" @onclick="GotoHome">กลับหน้าหลัก</button>

@code {
    public void GotoHome()
    {
        _nvgMan.NavigateTo("/");
    }

    public void GotoQRCodePass()
    {
        _nvgMan.NavigateTo("qrcodepass");
    }

    public void GotoQRCodeFail()
    {
        _nvgMan.NavigateTo("qrcodefail");
    }
}
